__pycache__
*.pyc
*.pyo
*.egg-info
dist
build
.eggs

# Virtual environments
.venv
venv
env

# IDE
.vscode
.idea
*.swp
*.swo

# Git
.git
.gitignore

# Environment files
.env
.env.*

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Docs & misc
README.md
Procfile
runtime.txt
LICENSE
*.md
